.main-process{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(250, 235, 215, 0.279);
}
.main-process h1{
    font-size: 40px;
    padding: 50px;
}
.main-process h1 span{
    font-weight: 300;
}
.main-process .card{
    border: none;
    width: 30%; 
    background: transparent;
}

.card .icon img{
    width: 40px;
    height: 40px;
}

.card .content{
    display: flex;
    flex-direction: row;
    gap: 20px ;
    padding: 20px ;
}
.card .card-para p{
    padding:5px;
}