
.header2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content-right{
    background-color: #efe2d1;
    width: 80%;
}
.content-right .para{
    width: 50%;
    margin:50px auto;
}
.content-right h1{
    font-size: 40px;
    color: black;
    
}
.content-right p{
    font-size: 20px;
    color: black;
}

.content-left{
    width: 80%;
    background-color: blue;
}

.content-left img{
    width: 100%;
}

/* @media(max-width:750px){
        .header2{
            flex-direction: column;
            width:50%;
        }

.content-right{
    width: 100%;
}
.content-left{
    width: 10%;
} */
